<div class="container  my-5">
  <div class="row justify-content-center">
  
    <div class="col-lg-9">
      <h2 class="login-header">Create an account</h2>

      <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
        <p>
          <input type="text" class="form-control" name="name" placeholder="name" ngModel required>
        </p>
        <p>
          <input type="email" class="form-control" name="email" placeholder="Email" ngModel required>
        </p>
        <p>
          <input type="password" class="form-control" name="password" placeholder="Password" ngModel required>
        </p>
        <p>
          <input type="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" value="Register">
        </p>
      </form>
    </div>

  </div>
</div>